/*



*/


.home {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.dashboard {
	font-family: "SF Pro Display", sans-serif;
	flex: 1;
	padding: 20px 20px ;
	user-select: none;
	-webkit-touch-callout: none;
	overflow-y: auto;
}

/* Styly Nadpisů */
h1 {
	margin: 0;
	padding-top: 40px;
	font-size: 1.8rem;
	color: #444;
}

h2 {
	margin: 0;
	font-size: 1.2rem;
}

h3 {
	margin: 5px 0;
}

p {
	margin: 10px 0 0;
}