html,
body {
    margin: 0;
    font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    /*-webkit-tap-highlight-color: transparent;*/
}

body {
    padding: 30px 25px;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

section {
    min-height: 300px;
}

header .sideimage {
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    header .sideimage {
        background-size: cover;
        width: 100%;
        height: 600px;
    }
}

@media only screen and (min-width: 601px) {
    header {
        height: calc(100vh - 300px);
        display: flex;
        align-items: center;
    }

    body {
        padding: 40px 30px;
    }

    .afterheaderpadding {
        height: 200px;
    }

    .infobox {
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    header {
        padding: 0 40px;
    }

    header .sideimage {
        /* Určitě existuje lepší způsob */
        flex: 1 1 0px;
        width: 0px;
        height: 100%;
        background-size: contain;
    }
}

/* Styly nadpisů */
h1 {
    margin: 80px 0 10px;
    font-size: 2.5rem;
    color: #555555;
}

p {
    color: #787878;
}

img {
    pointer-events: none;
}

/* Tlačítka */

.button {
    margin: 20px 0;
    color: #555555;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
}

.button a {
    text-decoration: none;
    color: #555555;
}

.colored {
    color: white;
    background: #2d96ff;
    border-radius: 7px;
    padding: 15px;
    transition: 0.3s;
    box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
}

.colored:active {
    transition: 0.3s;
    transform: scale(0.95);
    background: rgb(28, 98, 168);
}

.disabled {
    opacity: 0.5;
    background: #ececec;
    border-radius: 7px;
    padding: 15px;
    transition: 0.3s;
    box-shadow: 0 4px 14px 0 rgba(112, 112, 112, 0.39);
    cursor: not-allowed;
}

footer {
    display: flex;
    padding: 40px 0px;
}

footer > img {
    flex: 0 0 auto;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .links {
        width: 100%;
    }
}

footer .links {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: #fafafa;
    }
    .button a {
        color: #fafafa;
    }

    .logo {
        filter: grayscale(1) invert(1);
    }

    .sideimage {
        background-image: url(/assets/homepage/screenshots-dark.svg);
    }

    .disabled {
        opacity: 0.5;
        background: #ececec;
        border-radius: 7px;
        padding: 15px;
        transition: 0.3s;
        box-shadow: 0 4px 14px 0 rgba(255, 255, 255, 0.39);
        cursor: not-allowed;
    }
}

nav .menu a {
    display: inline-block;
}
